@media screen and (max-width: 700px) {
  .container__small-card {
    width: 200px;
    max-width: 200px;
    margin-bottom: 15px;
  }

  .container__small-card-content {
    display: flex;
    flex-direction: row;
  }

  .small-card__image > img {
    width: 100px;
    min-width: 100px;
    margin-right: 20px;
  }

  .small-card__title {
    font-size: 6px;
  }
}
